<button type="button" class="close fui-cross" data-dismiss="modal"></button>
<div class="text-center">
<h1><%= user.escape('name') %></h1>
<img src="<%= user.get('photos').first().get('image_url') %>"></img>
<div class="profile-photos">
User photos should go here...
</div>
Username: <%= user.escape('username') %>
<br>
Location: <%= user.escape('location') %>
<br>
Birthday: <%= user.escape('birthday') %>
</div>