<button type="button" class="close fui-cross" data-dismiss="modal"></button>
<div class="row-fluid">
  <div class="span10 offset1">
    <div class="text-center">
      <h1><%= user.escape('name') %></h1>
      <div class="profile-image">
        <img src="<%= user.get('photos').first().get('image_url') %>"></img>
      </div>
      <br>
      <br>
      <strong>Username:</strong> <%= user.escape('username') %>
      <br>
      <strong>Location:</strong> <%= user.escape('location') %>
      <br>
      <strong>Birthday:</strong> <%= user.escape('birthday') %>
    </div>
  </div>
</div>
<br>
<br>